body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden; 
  /* Prevents scrolling side */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img
{
  object-fit: contain;
  max-width: 100%;
  max-height: 100vh;
  height: auto;
}

/* Navbar */
.navBarLink {
  margin: 5px;
}

.navbar {
  align-items: center;
  margin: 0 auto;
  display: flex;
  border: solid #000000;
  background-color: rgb(107, 107, 165);
  padding: 20px;
  height: 20px;
  margin-bottom: 10px;
  color:#000000;
}
.navbar h1 {
  color: #000000;
  width:40%
}
.navbar .links {
  margin-left: auto;
  width:40%;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  color:#000000;
}
.navbar a:hover {
  color: #ffffff;
}

.mainImgCont img
{
  width: 50%;
  height: auto;
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.carousel img {
  width:270px;
  padding-top:20px;
  padding-left: 20px;
  cursor: pointer;
}

.m-right-arrow{
  position: fixed;
  top: 40%;
  right: 2%;
  font-size: 3rem;
  color:#000;
  object-fit: contain;

}
.m-left-arrow{
  position: fixed;
  top: 40%;
  left: 2%;
  font-size: 3rem;
  color:#000;
  object-fit: contain;

}

.c-right-arrow{
  position: fixed;
  top: 60%;
  right: 10%;
  font-size: 3rem;
  color:#000;
  object-fit: contain;

}
.c-left-arrow{
  position: fixed;
  top: 60%;
  left: 10%;
  font-size: 3rem;
  color:#000;
  object-fit: contain;

}

/* One row of items for the carousel at the bottom */

.carouselItems{
  position:absolute;
  display:flex;
  flex: 1;
  max-width: inherit;
}

.carouselItems img {
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}